<div class="aetool_block">
    <div>
      <div 
        data-user-role="{{lms_role}}"
        data-user-name="{{user_name}}"
        data-definition-id="{{definition_id}}"
        data-usage-id="{{usage_id}}"
        data-target="{{usage_id}}"
        data-display="{{display}}"
        data-btn-text="{{btn_text}}"
        data-iframe-url="{{iframe_url}}"
        data-width="{{width}}"
        data-height="{{height}}"
        data-display-name="{{display_name}}"
        data-view="{{view}}"
        class="wrapper"
      >
      </div>
    </div>
  </div>